.container{
    display:flex;
    height: calc(100vh - 70px);
    width:100%;
}

.chat-list{
    width:30%;
    margin:16px;
    padding: 0;
    background-color:#9bb5dd;
    border-radius: 16px;
    box-shadow: 5px 5px rgb(131, 188, 245) ;
    overflow: hidden
}



.search-input {
    width: 97%;
  }
  
  .search-input select {
    width: 100%; /* Adjust width as needed */
    padding: 10px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border-radius: 5px; /* Adjust border radius as needed */
    box-sizing: border-box;
    padding: 8px;
    margin-top: 8px;
    margin-left: 8px;
    border:none;
    background-color: hsl(216, 49%, 83%);
    border-bottom: 1px solid black;
  }
  ul{
    padding-left: 1rem;
  }
.user-list{
  gap:5px;
  align-items:center;
  margin: 5px;
  padding:1rem;
  border-radius: 8px;
  cursor: pointer;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content:left;
  align-items: center;
  font-weight: 600;
}
.user-list:hover{
  background-color: hsl(216, 22%, 59%);
}

.container-fluid{
    display:flex;
    padding: 0;
    margin-left: 0;
    gap:5px;
    justify-content: left;
    padding: 5px;
    border-radius: 5px;
    margin-right: 15px;
    cursor: pointer;
}
.container-fluid:hover{
    background-color:hsl(216, 22%, 59%);
}

.messages{
    width:70%;
    margin:5px;
    border-radius: 16px;
    height: 100%;
    position: relative;
}

.chat-heading{
    display:flex;
    width: 100%;
    background-color:hsl(216, 49%, 84%);
    border-bottom: .5px solid black;
    height:5em;
    padding-left: 5px;
    justify-content: left;
    align-items: center;
    border-radius: 10px;
    gap:5px;
}
.chat-body{
    position:relative;
    height: 86%;
    width: 100%;
    background-color:rgba(0,0,0,0.15);
    border-radius: 10px;
    align-items: flex-end ;
}

.chat-area{
  height:90%;
  background-color: rgb(216, 215, 255);
  padding: 15px;
}

.chat-bubble-container{
display: flex;
width: 100%;
justify-content: flex-start;
}

.chat-bubble{
  background-color: white;
  padding-top: 8px;
  padding-bottom: 18px;
  padding-left: 8px;
  padding-right: 100px;
  border-bottom: 16px;
  border-radius: 8px;
}
.chat-date{
  position:absolute;
  bottom: 2px;
  right:8px;
  font-size: 0.7rem;
}
.input-area{
  width: 100%;
  height: 10%;
  display: flex;
  justify-content:center;
  padding:5px;
  gap:.5em;
  align-items: center;
}
input{
  width: 100%;
  border-radius: 5px;
  border: none;
}
button{
  width: 15%;
  border: none;
  border-radius: 5px;
  background-color: rgb(150, 231, 150);
}

p{
  position: absolute;
  bottom: 0;
  right:0;
  width: 150px;
  border-radius: 15px;
  background-color:white;
  padding: 5px;
}

/* Base styles */
.container {
  display: flex;
}

.chat-list {
  width: 30%;
  padding: 10px;
}

.messages {
  flex: 1;
  padding: 10px;
}

.chat-heading img {
  border-radius: 50%;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .chat-list,
  .messages {
    width: 100%;
  }

  .search-input {
    margin-bottom: 10px;
  }
}
